.home-icon {
    height: 200px;
    background-color: lightpink;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 0 2px 3px gray;
    margin: 30px;
    font-size: 10px;
    }
.menu {
    background-color: lightsalmon;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
}